{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- ................CUSTOM CSS LINK................... -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- .............START NAV SECTION...................... -->
    <nav>
        <div class="container nav-container">
            <h2 class="logo">
                Capital<span>Hub</span>
            </h2>
            <div class="search-bar">
                <img src="{% static 'icon/search.svg' %}" class="icon2">
                <input type="search" placeholder="search for creater...">
            </div>
            <div class="create">
                <label for="creatPost" class="btn btn-primary" >update</label>
                <div class="profile-phots" onclick="settingsMenuToggle()">
                    <img src="{{user_profile.profileimg.url}}" alt="">
                </div>
            </div>
        </div>
        <div class="settings-menu">
            <!-- --------------DARK MODE-------------- -->
            <div id="dark-btn" class="dark-btn-on">
                <span></span>
            </div>
            <!-- --------------END DARK MODE-------------- -->
            <div class="settings-menu-inner">
                <div class="user-profile">
                    <div class="profile-phots">
                        <img src="{{user_profile.profileimg.url}}">
                    </div>
                    <div>
                        <p>{{user}}</p>
                        <a href="">See your profile</a>
                    </div>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="{% static 'icon/setting.png' %}" class="settings-icon">
                    <a href="#">Settings & Privacy </a>
                </div>
                <div class="settings-links">
                    <img src="{% static 'icon/help.png' %}" class="settings-icon">
                    <a href="#">Help & Support </a>
                </div>
                <div class="settings-links">
                    <img src="{% static 'icon/display.png' %}" class="settings-icon">
                    <a href="#">Display & Accessibility</a>
                </div>
                <div class="settings-links">
                    <img src="{% static 'icon/logout.png' %}" class="settings-icon">
                    <a href="#">Log Out </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- ................END NAV SECTION......................... -->




    <!-- ................START MAINE SECTION......................... -->
    <main>
        <div class="container main-container">
            <!--=======MAIN LEFT======== -->
            <div class="main-left">
              <div class="profile">
                <div class="profile-phots">
                    <img src="{{user_profile.profileimg.url}}" alt="">
                </div> 
                <div class="hendel">
                    <h4>{{user}}</h4>
                    <p class="text-gry">@{{user}}</p>
                </div>  
              </div>

              <!--.............. SIDEBAR.............. -->
              <div class="side-bar"> 

                <a class="menu-item active" >
                    <span><img src="{% static 'icon/house-door.svg' %}" class="icon1"></span><h3>home</h3>
                </a>
                <a class="menu-item " href="logout">
                    <span><img src="{% static 'icon/joystick.svg' %}" class="icon1"></span><h3>Log Out</h3>
                </a>
                <a class="menu-item g" href="{% url 'account_settings' %}">
                    <span><img src="{% static 'icon/gear.svg' %}" class="icon1"></span><h3>setings</h3>
                </a>
                <a class="menu-item" id="notifice">
                    <span> <small class="count">9</small> <img src="{% static 'icon/bell.svg' %}" class="icon1"></span><h3>notifications</h3>
                    <!-- ....................notification............................ -->
                    <div class="notification">
                        <div class="NP">
                            <div class="profile-phots">
                                <img src="{% static 'img/p2.jpg' %}" alt="">
                            </div> 
                            <div class="notification-body">
                                <b>melody</b> accepted your firend request  
                                <small class="text-gry"> 1 minutes ago</small>                              
                            </div>
                        </div>
                        <div class="NP">
                            <div class="profile-phots">
                                <img src="{% static 'img/p3.png' %}" alt="">
                            </div> 
                            <div class="notification-body">
                                <b>jhon lew</b> commented your post 
                                <small class="text-gry"> 4 minutes ago</small>                              
                            </div>
                        </div>
                        <div class="NP">
                            <div class="profile-phots">
                                <img src="{% static 'img/p4.png' %}" alt="">
                            </div> 
                            <div class="notification-body">
                                <b>leah pry</b>  liked your post 
                                <small class="text-gry"> 10 minutes ago</small>                              
                            </div>
                        </div>
                        <div class="NP">
                            <div class="profile-phots">
                                <img src="{% static 'img/p5.png' %}" alt="">
                            </div> 
                            <div class="notification-body">
                                <b>david</b> liked your post 
                                <small class="text-gry"> 20 minutes ago</small>                              
                            </div>
                        </div>
                        <div class="NP">
                            <div class="profile-phots">
                                <img src="{% static 'img/profile-4.jpg' %}" alt="">
                            </div> 
                            <div class="notification-body">
                                <b>angla fox</b> reacted your post 
                                <small class="text-gry"> 1 hour ago</small>                              
                            </div>
                        </div>
                        <div class="NP">
                            <div class="profile-phots">
                                <img src="{% static 'img/profile-5.jpeg' %}" alt="">
                            </div> 
                            <div class="notification-body">
                                <b>lana</b>  accepted your firend request
                                <small class="text-gry">2 hour ago</small>                              
                            </div>
                        </div>
                        <div class="NP">
                            <div class="profile-phots">
                                <img src="{% static 'img/p7.png' %}" alt="">
                            </div> 
                            <div class="notification-body">
                                <b>mark newton</b> accepted your firend request
                                <small class="text-gry"> 2 days ago</small>                              
                            </div>
                        </div>
                    </div>
                </a>
                <a class="menu-item"  id="message">
                    <span> <small class="count">3</small> <img src="{% static 'icon/chat-left-dots.svg' %}" class="icon1"></span><h3>message</h3>
                </a>
                <a class="menu-item " >
                    <span><img src="{% static 'icon/bookmarks.svg' %}" class="icon1"></span><h3>bookmarks</h3>
                </a>
                <a class="menu-item " >

                    <span><img src="{% static 'icon/graph-up-arrow.svg' %}" class="icon1"></span><h3>analytics</h3>
                </a>
                <a class="menu-item " id="themeMenu">
                    <span><img src="{% static 'icon/palette.svg' %}" class="icon1"></span><h3>theme</h3>
                </a>
                <label for="creatPost" class="btn btn-primary" >create post</label>   
              </div>
            </div>
            <!-- =======MAIN MID======= -->
            <div class="main-mid">  
               <!-- _______________UPLOAD PIC__________________________ -->
                <form class="creatPost"  action="upload" method="POST" enctype="multipart/form-data">
                    <div class="profile-phots">
                        <img src="{{user_profile.profileimg.url}}" alt="">
                    </div>
                        {% csrf_token %}
                    <div class="text-post">
                        <input type="file" name="image_upload"><br>
                        <input type="text" name="caption" placeholder="whast's on your mind?" class="creatPost"><br>
                        <button class="btn btn-primary" type="submit" for="creatPost" class="btn btn-primary">Upload</button>
                    </div>
                 </form> 
                <!--..................feeds..start...............................-->
                <div class="feeds">
                    {% for i in post reversed %}
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-phots">
                                    <a href="/profile/{{i.user}}">
                                        <img src="{{user_profile.profileimg.url}}" alt=""> 
                                    </a>                                   
                                </div>
                                <div class="info">
                                    <a href="/profile/{{i.user}}">
                                        <h3>{{i.user}}</h3>
                                    </a>
                                    <small>cannada, 15 minutes ago</small>
                                </div>                               
                            </div>
                            <span class="edit">
                                <img src="{% static 'icon/three-dots.svg' %}" class="icon1">
                            </span>
                        </div>
                            <div class="feed-phots">
                                <img src="{{i.image.url}}" alt="">
                            </div>
                            <div class="action-buttons">
                                <div class="inter-action-button">
                                    <a href="/like-post?post_id={{i.id}}"><span><img src="{% static 'icon/heart.svg' %}" class="icon2"></span></a>
                                    <span><img src="{% static 'icon/chat-dots.svg' %}" class="icon2"></span>
                                    <span><img src="{% static 'icon/share.svg' %}" class="icon2"></span>
                                </div>
                                <div class="book-mark">
                                   <span><img src="{% static 'icon/bookmark.svg' %}" class="icon2"></span>
                                </div>
                            </div>
                            <div class="liked-by">
                                <span><img src="{% static 'img/p2.jpg' %}" alt=""></span>
                                <span><img src="{% static 'img/p4.png' %}" alt=""></span>
                                <span><img src="{% static 'img/p5.png' %}" alt=""></span>
                                {% if i.no_of_likes == 0 %}
                                <p>No like</p>
                                {% elif i.no_of_likes == 1 %}
                                <p>like by <b>{{i.no_of_likes}} </b>Person<b> </b></p>
                                {% else %}
                                <p>like by <b>{{i.no_of_likes}} </b>People<b> </b></p>
                                {% endif %}            
                            </div>
                            <div class="caption">
                                <p><b>angela rose.</b>{{i.caption}} <span class="hash-teg">#lifestyle</span></p>
                            </div> 
                            <div class="text-gry comment">view all comments</div> 
                    </div>    
                    {% endfor %}              
                </div>
                <!--..................feeds.end................................-->
            </div>
             <!-- =======MAIN RIGHT======= -->
            <div class="main-right">
                <div class="messages" id="message-box">
                    <div class="message-heading">
                        <h4>message</h4><span><img src="{% static 'icon/pencil-square.svg' %}" class="icon1"></span>
                    </div>
                    <!-- searchbar -->
                    <div class="search-bar">
                        <span><img src="{% static 'icon/search.svg' %}" class="icon2"></span>
                        <input type="search" placeholder="search message" class="message-search">
                    </div>
                    <!-- messagecategory -->
                    <div class="category">
                        <h6 class="active">firends</h6>
                        <h6 class="">followrs</h6>
                        <h6 class="pr-requst">request(4)</h6>
                    </div>
                    <!-- messgae -->
                    <div class="message">
                        <div class="profile-phots">
                            <div class="ac"></div>
                            <img src="{% static 'img/f3.png' %}" alt="">
                        </div>
                        <div class="messgae-body">
                            <h5>lion mesi</h5>
                            <p class="text-gry">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>                    
                    <div class="message">
                        <div class="profile-phots">
                            <img src="{% static 'img/m1.jpg' %}" alt="">
                        </div>
                        <div class="messgae-body">
                            <h5>emaly wills</h5>
                            <p class="text-gry">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>                    
                    <div class="message">                        
                        <div class="profile-phots">
                            <div class="ac"></div>
                            <img src="{% static 'img/m2.png' %}" alt="">
                        </div>
                        <div class="messgae-body">
                            <h5>dani liza</h5>
                            <p class="text-gry">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>                    
                    <div class="message">
                        <div class="profile-phots">
                            <img src="{% static 'img/m3.jpg' %}" alt="">
                        </div>
                        <div class="messgae-body">
                            <h5>prince jhoo</h5>
                            <p class="text-gry">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>                    
                    <div class="message ">
                        <div class="profile-phots">
                            <div class="ac"></div>
                            <img src="{% static 'img/m4.png' %}" alt="">
                        </div>
                        <div class="messgae-body">
                            <h5>daniel river</h5>
                            <p class="text-gry">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>                    
                </div> 
                <!--firend request-->
                <div class="firend-requests">
                    <h4>request</h4>
                    <div class="request">
                        <div class="info">
                            <div class="profile-phots">
                                <img src="{% static 'img/f1.png' %}" alt="">
                            </div>
                            <div class="request-body">
                                <h5>adam fight</h5>
                                <p class="text-gry">10 mutual firend</p>
                            </div>                            
                        </div>                                            
                        <div class="action">                            
                            <button class="btn btn-primary" id="add">accept</button>
                            <button class="btn btn" id="del">delete</button>
                        </div>
                    </div>
                    <div class="request">
                        <div class="info">
                            <div class="profile-phots">
                                <img src="{% static 'img/s3.jpg' %}" alt="">
                            </div>
                            <div class="request-body">
                                <h5>alex jnoy</h5>
                                <p class="text-gry">10 mutual firend</p>
                            </div>                            
                        </div>
                        
                        <div class="action">
                            <button class="btn btn-primary" id="add">accept</button>
                            <button class="btn " id="del">delete</button>
                        </div>
                    </div>
                    <div class="request">
                        <div class="info">
                            <div class="profile-phots">
                                <img src="{% static 'img/f3.png' %}" alt="">
                            </div>
                            <div class="request-body">
                                <h5>eval milk</h5>
                                <p class="text-gry">10 mutual firend</p>
                            </div>                            
                        </div>
                        <div class="action">
                            <button class="btn btn-primary" id="add">accept</button>
                            <button class="btn " id="del">delete</button>
                        </div>
                    </div>
                    <div class="request">
                        <div class="info">
                            <div class="profile-phots">
                                <img src="{% static 'img/f4.png' %}" alt="">
                            </div>
                            <div class="request-body">
                                <h5>dude putin</h5>
                                <p class="text-gry">10 mutual firend</p>
                            </div>                            
                        </div>
                        <div class="action">
                            <button class="btn btn-primary" id="add">accept</button>
                            <button class="btn " id="del">delete</button>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </main>

    <!--................. THEME CUSTOMIZE.START............. -->
    <div class="theme">
        <div class="card">
            <h2>CUSTOMIZE yuor site</h2>
            <p class="text-gry">manage your font, color, and backgroud</p>


            <!--........... FONT-SIZE........... -->
            <div class="font-siz">
                <div>
                    <h6>aa</h6>
                    <div class="choose-font-size">
                        <span class="font1"></span>
                        <span class="font2 active"></span>
                        <span class="font3"></span>
                        <span class="font4"></span>
                        <span class="font5"></span>
                    </div>
                    <h3>aa</h3>
                </div>               
            </div>

            <!--.................. COLOR................ -->
        <div class="color">
            <h3>color</h3>
            <div class="choose-color">
                <span class="color1"></span>
                <span class="color2"></span>
                <span class="color3 active"></span>
                <span class="color4"></span>
                <span class="color5"></span>
            </div>
        </div>

        <!--.............BACKGROUND.............. -->
        <div class="background">
            <h3>backgorund</h3>
            <div class="chosse-backgorund">
                <div class="bg1 active">
                    <span></span>
                    <h5 class="bg1">light</h5>
                </div>
                <div class="bg2">
                    <span></span>
                    <h5 class="bg2">dark</h5>
                </div>
                <div class="bg3">
                    <span></span>
                    <h5 class="bg3">black</h5>
                </div>
            </div>
        </div>

        </div>
    </div>
    <!--.............THEME CUSTOMIZE.END...... -->
    <!-- ................END MAINE SECTION......................... -->



    <!-- .............CUSTOM JS LINK...................... -->
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
<style>
    .settings-menu{
    position: absolute;
    width: 90%;
    max-width: 300px;
    background: white;
    box-shadow: 0 0 10px rgb(198, 12, 204);
    border-radius: 10px;
    overflow: hidden;
    top: 108%;
    right: 0%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: #a705c7;
    text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.settings-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;   
}
.settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

.add-post-links{
display: flex;
margin-top: 10px;
}
.add-post-links a{
text-decoration: none;
display: flex;
align-items: center;
color: #626262;
margin-right: 30px;
font-size: 13px;
}
.add-post-links a img{
width: 20px;
margin-right: 10px;
}
</style>